html, body, form, fieldset, h1, h2, h3, p, span {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	color: #484848;
	background: #ffffda;
	font: 13px Arial, Helvetica, sans-serif;
}

img { border: 0; vertical-align: bottom;}

a {
        color: #336699;
        text-decoration: none;
}
a:hover { text-decoration: underline; }

/*table.contentpaneopen td p, td.contentdescription p,*/
p {
	color: #484848;
	padding: 0 15px 0;
        text-align: justify;
        margin-top: 15px;
}


h1 a { display: block; margin: 52px 0 0 18px; height: 90px; width: 482px; text-indent: -900em; text-decoration: none; line-height: 100%; }
h1 a:hover { text-decoration: none; }

h3 { margin-top: 20px; }

form p {margin:0; padding:0;}
#com-form-login fieldset, #com-form-login fieldset p, #com-form-login input, #com-form-login ul, #com-form-login ul li {text-align: center;}
#com-form-login ul {margin: 15px 0; padding: 0; list-style-type: none; list-style-position:inside;}
#form-login-remember {color: #d9cfcf;}

/*input, select, button { border: 1px solid #acaa8f; padding: 2px; }*/

#all {
	margin: 0;
	padding: 0;
	background: #ffffda url(../images/bg.png) repeat-x top;
}

#page {
	width: 950px;
	margin: 0 auto;
	padding: 0;
	background: url(../images/header.png) no-repeat;
	overflow: hidden;
}

#header {
	width: 950px;
	height: 190px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#title {
float:left;
}
#top {
	float:right;
	width: 170px;
	height: 145px;
	margin: 27px 0 0 0;
	padding: 0;
	overflow: hidden;
}
#top table {
	width: 170px;
	height: 135px;
	overflow: hidden;
}
#top td {
	vertical-align: middle;
	text-align: center;
	margin: 0;
	padding: 0;
}


#modlgn_username {
border: 0px; padding: 12px 7px 7px 23px; background: transparent url(../images/user_bkg.png) no-repeat left bottom; width: 123px; height: 15px; margin: auto; line-height: 100%; font: 12px Arial, Helvetica, sans-serif;
}
#modlgn_passwd {
border: 0px; padding: 12px 7px 7px 23px; background: transparent url(../images/pass_bkg.png) no-repeat left bottom; width: 123px; height: 15px; margin: auto; line-height: 100%; font: 12px Arial, Helvetica, sans-serif;
}
#form-login-username label{ display:none; font-size: 0px; margin:0; padding:0;}
#form-login-password label{ display:none; font-size: 0px; margin:0; padding:0;}
#form-login-password, #form-login-username {  font-size: 0px; margin:0; padding:0; line-height: 0%;}
#form-login-remember {font-size: 10px; text-align: center; margin:0; padding:0;}
#modlgn_remember {vertical-align:-30%;}
#form-login {margin-top:20px;}
#form-login.input {margin-bottom: 20px;}
#top form ul {
	margin-top: 100px;
}

#breadcrumb { margin: 0 10px 10px;}
#breadcrumb span img { vertical-align: baseline;}

#body {
	width: 950px;
	vertical-align: top;
	text-align: left;
	margin: 0;
	padding: 0;
	border: 0;
}

#left {
	width: 200px;
	vertical-align: top;
	text-align: left;
	margin: 0;
	padding: 10px;
	border: 0;
}

ul.menu { margin: 0px 0px 15px; padding: 0px; list-style-type: none; list-style-image: none; list-style-position: outside; }

ul.menu li{
	color: #4F5150;
	font: 13px Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 200%;
	text-align: left;
	list-style-type: none;
	padding: 0px 0px 0px 0px;
	border-bottom: 1px dotted #604241;
}

ul.menu li a:link, ul.menu li a:active, ul.menu li a:visited {
text-decoration: none;
color: #B45953;
}


ul.menu li a:hover {
	color: #FFFFFF; 
	background-color: #B45953; 
	text-decoration: none;
}

ul.menu li a {
	display: block;
	padding: 0px 10px 0px 30px;
_display:inline-block;
_width:90%;
	}

.tagCloud a {
	line-height: 25px;
	font-weight: bold;
	text-decoration: none;
	padding: 2px;
}

.tagCloud a.tag1:link {
	font-size: 11px;
	color: #B45953;
}

.tagCloud a.tag1:visited {
	font-size: 11px;
	color: ##B45953;
}

.tagCloud a.tag1:hover {
	font-size: 11px;
	color: #FFFFFF;
	background: #B45953;
}

.tagCloud a.tag2:link {
	font-size: 12px;
	color: #B45953;
}

.tagCloud a.tag2:visited {
	font-size: 12px;
	color: #B45953;
}

.tagCloud a.tag2:hover {
	font-size: 12px;
	color: #FFFFFF;
	background: #B45953;
}

.tagCloud a.tag3:link {
	font-size: 13px;
	color: #B45953;
}

.tagCloud a.tag3:visited {
	font-size: 13px;
	color: #B45953;
}

.tagCloud a.tag3:hover {
	font-size: 13px;
	color: #FFFFFF;;
	background: #B45953;
}

.tagCloud a.tag4:link {
	font-size: 14px;
	color: #B45953;
}

.tagCloud a.tag4:visited {
	font-size: 14px;
	color: #B45953;
}

.tagCloud a.tag4:hover {
	font-size: 14px;
	color: #FFFFFF;;
	background: #B45953;
}

.tagCloud a.tag5:link {
	font-size: 15px;
	color: #B45953;
}

.tagCloud a.tag5:visited {
	font-size: 15px;
	color: #B45953;
}

.tagCloud a.tag5:hover {
	font-size: 15px;
	color: #FFFFFF;;
	background: #B45953;
}

.tagCloud a.tag6:link {
	font-size: 16px;
	color: #B45953;
}

.tagCloud a.tag6:visited {
	font-size: 16px;
	color: #B45953;
}

.tagCloud a.tag6:hover {
	font-size: 16px;
	color: #FFFFFF;;
	background: #B45953;
}

.tagCloud a.tag7:link {
	font-size: 17px;
	color: #B45953;
}

.tagCloud a.tag7:visited {
	font-size: 17px;
	color: #B45953;
}

.tagCloud a.tag7:hover {
	font-size: 17px;
	color: #FFFFFF;;
	background: #B45953;
}

.attachmentsList {margin-left: 20px;}

#sound { height: 1px;}

#center {
	vertical-align: top;
	text-align: left;
	margin: 0;
	padding: 10px 30px 20px 20px;
	border: 0;
}

.contenttoc {
 display:none
}
.pagenavcounter {
 display:none
}

.componentheading {
	font: italic 100 34px "Times New Roman","Times",serif;
	color: #336699;
}

.contentheading {
	font: italic 100 26px "Times New Roman","Times",serif;
	color: #336699;
	padding: 0 0 0 10px;
  margin-bottom: -10px;
	width: 900px;
}

.buttonheading {
	width: 16px;
	margin: 0 5px;
    padding: 0;
}

.contentpaneopen {
	width: 100%;
}

.small, .modifydate {
	font-size: 10px;
	color: #999999;
	padding-left: 15px;
}

.createdate {
	font-size: 10px;
	color: #999999;
	padding-left: 15px;
}

.readon{
	text-align: right;
	padding-top: 15px;
	margin-left: 91%;
}
form[name="adminForm"] { margin-top: 15px;}
.sectiontableheader {background-color : #cccccc; color: #333333; font-weight: bold; padding: 5px 10px;}
.sectiontableentry1 {background-color : #F0F0F0;}
.sectiontableentry1 td {padding: 5px 10px}
.sectiontableentry1 img { vertical-align: middle;}
.sectiontableentry2 {background-color : #E0E0E0;}
.sectiontableentry2 td {padding: 5px 10px}

td#center {
	background: transparent url(../images/bg04.png) no-repeat scroll left top;
}

.jcomments-links {margin-top: 5px; clear:both; text-align: right;}

.pagenavbar {text-align: center;}

#footer {
	clear: both;
	height: 150px;
	width: 100%;
	color: #ffffff;
	margin: 0;
	padding: 0;
	text-align: center;
	background: #604241;
	font-size: 10px;
}

#footer table{
	height: 150px;
	margin: 0 auto;
	padding: 0;
}
#footer td {
	vertical-align: middle;
	text-align: center;
	margin: 0;
	padding: 0;
}

#footer a {
	color: #ffffff;
}

@media print{ 
body {
	color: #000000;
	background: #ffffff;
	font: 12pt serif;
}
.attachmentsContainer, .np, .connect_widget {display: none;}
}